run_account_data.log
node_modules/
package-lock.json
account_data.json
account_data.log
run_escrow_data.log
escrow_data.json
escrow_data.log
watch.sh
/server/index.log
/server/run.log
/server/dev.js
/cleanup.sh
